<h1>Welcome to the Movie App</h1>
<h2>Search for a Movie</h2>

<form action="/results" method="GET">
    <input type="text" placeholder="Search Term" name="searchterm">
    <input type="submit">
</form>